<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="app.js"></script>

<body ng-app="beerApp">
    <div ng-controller="contentC">
        <div>
            <ul>
                <select ng-model="currentItem" ng-options="item.name for item in items"></select>
            </ul>
        </div>
        <div>
            <p>{{ currentItem.name }}</p>
            <p>{{ currentItem.country }}</p>
            <p>{{ average(currentItem.ratings) }}</p>
            <p ng-repeat="rating in currentItem.ratings">Rating: {{ rating.comment }} - {{ rating.rating }}</p>
        </div>
    </div>
</body>
</html>